<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Attendance App</title>
<style>
    /* Add your custom CSS here */

    body {
        background-color: #f2f2f2; /* Set a background color */
    }

    .container {
        text-align: center;
        margin-top: 100px;
    }
    .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
    h2 {
        color: #333; /* Set text color */
    }

    .btn {
        margin-top: 20px;
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 5px;
    }

    /* Center the logo image in the title */
    .logo {
        display: block;
        margin: 0 auto;
        max-width: 50%;
        height: auto;
    }
</style>
</head>
<body>
<div class="container">
    <img src="/images/credp.png" alt="Logo" class="logo">
    <h2>Welcome to Attendance App</h2>
    <a href="/attendance/student" class="btn btn-primary">Student</a>
    <a href="/attendance/volunteer" class="btn btn-success">Volunteer</a>
</div>
</body>
</html>
